.link {
  display: inline-block;
  padding: 16px 32px;

  border-radius: 3px;
  background-color: teal;
  color: white;

  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.link:hover,
.link:focus {
  background-color: aqua;
  color: crimson;
}
.test-line {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  background-color: blue;
  color: beige;
  padding: 10px;
}
.boczny {
  flex-basis: 200px;
  margin-right: 30px;
}
.glowny {
  flex-grow: 1;
}
.boczny,
.glowny {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.container {
  display: flex;
  max-width: 1200px;
  height: 400px;
  margin-top: 20px;
  padding: 20px 20px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.card-footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.card-footer-mod {
  border-radius: 10px;
  padding: 20px;
  background-color: darkgrey;
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
  flex-grow: 1;
}
.boczny .paragraph-mod {
  height: 240px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.opis-amod {
  color: coral;
}
.opis {
  font-size: 40px;
}
.opis-h2 {
  color: blueviolet;
}
