* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 15px;
  padding: 0;

  border: 2px solid orange;
}
.imicz {
  display: block;
  width: 100%;
}

.imicz2 {
  width: 500px;
  height: 300px;
}
.container-link {
  margin-top: 50px;
  margin-left: 30px;
}
.link-mod {
  padding: 20px;
  background-color: rgba(24, 24, 24, 0.5);
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 5%;
}
.link-mod:hover,
.link-mod:active {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.link-mod::after {
  content: "";
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  background-image: url(/images/symbol-defs.svg/#icon-home);
  background-repeat: no-repeat;
}
.link-mod:hover::after {
  fill: aqua;
}

.pudelko {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: blueviolet;
  margin-bottom: 30px;
}
.icon {
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.icon:hover {
  fill: aqua;
}
.fleks {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 30px;
}
