.container {
  margin: 15px;
  padding: 0;

  border: 2px solid orange;
}
.imicz {
  display: block;
  width: 100%;
}

.imicz2 {
  width: 500px;
  height: 300px;
}
.container-link {
  margin-top: 50px;
  margin-left: 30px;
}
.link-mod {
  padding: 20px;
  background-color: rgba(24, 24, 24, 0.5);
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 5%;
}
.link-mod:hover,
.link-mod:active {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.link-mod::after {
  content: "";
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  background-image: url(/images/SVG/home.svg);
  background-repeat: no-repeat;
}
.link-mod:hover::after {
  color: aqua;
}
