* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  width: 100wh;
  margin: 0;
}
main {
  padding-top: 90px;
}
header {
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 2;
  background-color: aquamarine;
  border-bottom: 3px solid black;
}
.header-format {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-list {
  display: flex;
  justify-content: space-around;
}
.main-list p {
  width: 20vw;
}
section {
  margin-top: 20px;
  padding-bottom: 20px;
  width: inherit;
  background-color: antiquewhite;
}

.bloczek {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  max-height: 100px;
  max-width: 300px;
  background-color: blueviolet;
  border: 2px solid coral;
  border-radius: 10%;
}
.bloczek p {
  text-align: center;
}
.list-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mid {
  position: sticky;
  top: 0;
}
img {
  display: block;
  max-width: 100%;
}
.thumb {
  width: 500px;
  border-radius: 30px;
  border: 5px solid black;
}

.box {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;

  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #15b5ff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box:hover .overlay {
  transform: translatey(0);
}
.box p {
  height: 60%;
}
.overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  transform: translatey(60%);
  transition: transform 250ms ease;
}
.description {
  z-index: 3;
  position: relative;
  height: 150px;
  background-color: blueviolet;
  padding-top: 150px;
}

